@use "../../assets/sass/_variables.scss" as *;

.Homepage {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 95vw;
    height: 90vh;
    // border: 2px solid $color-black;
}