@use "./assets/sass/_variables.scss" as *;

.App {
  text-align: center;
  .Homepage {
    display: flex;
    .Navbar {
      text-align: center;
      width: 30vw;
      height: 90vh;
      border: 2px solid $color-black;
    }
    .Mainpage {
      text-align: center;
      width: 70vw;
      height: 90vh;
      border: 2px solid $color-black;
    }
  }
}


