$color-black: #2d3436;
$color-white: #ffffff;
$color-floralwhite: #f6f4eb;
$color-grey: #d1d1e9;

$color-primary: #213e70;
$color-credits: #778da9;
$color-secondary: #3c096c;
$color-background: #f6f4eb;
$color-imagebackground: #e9e7e0;